@import '~bootstrap/scss/functions';

// Footer
$footer-bottom-color: #D5D5D5;
$footer-text-color: #777;
$footer-social-color: #F9F9FF;
// End Footer

// View-Tabs
$header-tabs-color: #9BBEC7;
// End View Tabs
@import '~bootstrap/scss/variables';
