@import "~bootstrap/scss/nav";

.nav {
    .nav-item {
        .nav-link {
            color: $black;
            font-family: 'Roboto', sans-serif;
            font-size: .9em;

            .fa-angle-down {
                &::before {
                    margin-left: .1em;
                    margin-top: -.7em;
                    opacity: .4;
                    position: absolute;
                }
            }

            .click {
                font-size: 12px;
                margin-left: -20px;
                position: absolute;
            }
        }
    }
}
