@import '~bootstrap/scss/utilities';

.view-header-tabs {
    @extend .px-0;


    .header-tabs {
        .nav-tabs {
            background-color: $white;
            display: flex;
            justify-content: space-around !important;

            .nav-link {
                font-weight: 600;
                padding: 1em 2em;

                &.active {
                    background-color: $white;
                    border: 0;
                    border-radius: 0;
                }

                &:hover {
                    border: 0;
                }
            }
        }

        .tab-content {
            background: $white;
            padding-top: 2em;

            .tab-pane {
                @include make-container;
                @include make-container-max-widths;
            }
        }
    }
}
