@import '~styles/01_settings/variables';

.view-header-tabs {
    .header-tabs {
        .nav-tabs {
            background-color: $gray-100;
            display: flex;
            justify-content: space-around !important;

            .nav-link {
                color: $gray-600;
                font-weight: 600;
                padding: 1em 2em;

                &.active {
                    background-color: $white;
                    border: 0;
                    border-radius: 0;
                }

                &:hover {
                    border: 0;
                }
            }
        }

        .tab-content {
            padding-top: 2em;
        }
    }
}
