@import '~styles/01_settings/variables';

$content-header-color: rgba(0, 79, 174, .25);

.content-header {
    border-bottom: 1px solid $content-header-color;
    padding-bottom: 1em;
    padding-top: 1.5em;

    .title {
        font-size: 1.4em;
        font-style: italic;
        font-weight: $font-weight-bold;
    }

    .title-small {
        font-style: italic;
    }

    .navbar {
        background-color: $white;
        padding: 0;

        .nav-link {
            color: $black;
            font-style: italic;
            margin-right: .5em;
            text-align: right;

            &:hover {
                color: $gray-600;
            }

            .fa-angle-down {
                &::before {
                    margin-top: -.8em;
                    opacity: .4;
                    position: absolute;
                }
            }
        }
    }

    .nav {
        justify-content: center;

        .nav-item {
            .nav-link {
                color: $black;
                font-family: 'Roboto', sans-serif;
                font-size: .9em;

                .click {
                    font-size: .8em;
                    margin-left: -1.8em;
                    position: absolute;
                }
            }
        }
    }
}





