<div class="container">
    <div class="content-header">
        <div class="row">
            <div class="col-3">
                <span class="title">AXA</span>
                <small class="title-small">World Insurance</small>
            </div>
            <div class="col-6">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services
                            <i class="fas fa-angle-down"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">News
                            <i class="fas fa-angle-down"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contant Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/lioneltolosa">
                            <i class="fab fa-github-alt"></i>
                            <span class="click">Click Here</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://codepen.io/lioneltolosa29/">
                            <i class="fab fa-codepen"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

