<div class="container">
    <div class="content-header">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <span class="title">AXA</span>
                <small class="title-small">World Insurance</small>
            </div>
            <div class="col-md-6 col-lg-6">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fas fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Service
                                    <i class="fas fa-angle-down"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">News
                                    <i class="fas fa-angle-down"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/lioneltolosa">
                            <i class="fab fa-github-alt"></i>
                            <span class="click">Click Here</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://codepen.io/lioneltolosa29/">
                            <i class="fab fa-codepen"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
