@import '~styles/01_settings/variables';

.content-header {
    border-bottom: 2px solid rgba(0, 79, 174, .25);
    padding-top: 1.5em;

    .title {
        font-size: 1.4em;
        font-style: italic;
        font-weight: $font-weight-bold;
    }

    .title-small {
        font-style: italic;
    }
}


