<div class="content-table">
    <table>
        <thead >
            <tr>
                <th *ngFor="let col of columns">
                    {{col}}
                    <div class="sort-icon">
                        <i class="fas fa-caret-up"></i>
                        <i class="fas fa-caret-down"></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let char of characters | async">
                <td *ngFor="let col of columns">
                        {{char[col]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
