<div class="container">
    <div class="table-policies">
        <div class="columns">
            <span *ngFor="let col of columns"
                    class="title-columns">
                {{col}}
            </span>
        </div>
        <div class="characters">
            <span class="col-characters" *ngFor="let char of characters | async">
                <span *ngFor="let col of columns"
                       class="title-characters">
                    {{char[col]}}
                </span>
            </span>
        </div>
    </div>
</div>
