@import '~styles/01_settings/variables';
@import '~styles/01_settings/mixins';
@import '~bootstrap/scss/utilities/spacing';

$footer-bottom-color: #D5D5D5;
$footer-text-color: #777;

footer {
    background: $gray-100;
    padding-top: 3em;

    .content-list {
        margin-bottom: 30px;

        h6 {
            color: $black;
            padding-bottom: 1em;
            text-transform: uppercase;

            &:hover {
                color: $gray-600;
            }
        }

        .footer-nav {
            padding-left: 0;

            li {
                list-style: none;
                margin-top: 8px;

                a {
                    color: $gray-600;
                }
            }
        }

        .footer-social {
            a {
                display: inline-block;
                margin-right: 5px;
                text-align: center;
                width: 30px;

                i {
                    color: $footer-text-color;
                }

                &:hover {
                    background: $gray-600;

                    i {
                        color: $white;
                    }
                }
            }
        }

        @include media-breakpoint-up(xs) {
            text-align: center;
        }

        @include media-breakpoint-up(lg) {
            text-align: left;
        }
    }

    .footer-bottom {
        border-top: 1px solid $footer-bottom-color;
        padding-bottom: 1em;
        padding-top: 2em;
        text-align: center;

        .footer-text {
            color: $footer-text-color;

        }
    }
}
