<footer >
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="content-list">
                    <h6>Top Products</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Hospitalizacion</a></li>
                        <li><a href="#">Baja laboral</a></li>
                        <li><a href="#">Proteccion Juridica</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="content-list">
                    <h6>Other products</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Bici</a></li>
                        <li><a href="#">Caza</a></li>
                        <li><a href="#">Pesca</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="content-list">
                    <h6>MyAXA App</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Localización automática</a></li>
                        <li><a href="#">Dar partes de Automóvil</a></li>
                        <li><a href="#">Tus contratos y garantías</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="content-list">
                    <h6>Contant Us</h6>
                    <p>
                        SI ERES CLIENTE, LLÁMANOS AL 91 807 00 55
                    </p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center">
            <small class="footer-text m-0">Copyright AXA 2018 © Todos los derechos reservados.</small>
        </div>
    </div>
</footer>
