<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="content-list">
                    <h6>Top Products</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Hospitalization</a></li>
                        <li><a href="#">Labor retirement</a></li>
                        <li><a href="#">Legal Protection</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="content-list">
                    <h6>Other products</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Bicycle</a></li>
                        <li><a href="#">Hunting</a></li>
                        <li><a href="#">Fishing</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="content-list">
                    <h6>MyAXA App</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Automatic localization</a></li>
                        <li><a href="#">Give Automobile parts</a></li>
                        <li><a href="#">Your contracts and guarantees</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="content-list">
                    <h6>Contant Us</h6>
                    <p>
                        CALL US 91 807 00 55
                    </p>
                    <div class="footer-social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center">
            <small class="footer-text m-0">Copyright AXA 2018 © All rights reserved.</small>
        </div>
    </div>
</footer>
